/*------------------------GOOGLE FONTS IMPORTS--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  left: 0;
}
/*------------------------Login header----------------------------*/

.main_login_header {
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.main_login_header,
h1 {
  font-family: "Righteous", cursive;
  color: black;
  margin-left: 15px;
}

.matea_login_logo {
  width: 37px;
  height: 33px;
  left: 495px;
  top: 25px;
}

/*------------------------Fin login header------------------------*/

/*------------------------Login home------------------------------*/

.p_login {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.main_form_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_inputs {
  width: 527px;
  height: 57px;
  left: 313px;
  top: 170px;
  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 33px;
  font-family: "Montserrat", sans-serif;
  margin: 10px auto;
  max-width: 90vw;
}

.form-check {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.remember_input {
  width: 29.17px;
  height: 29.17px;
  left: 313px;
  top: 319px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.remember_label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}

.button_login {
  width: 204px;
  height: 38px;
  left: 636px;
  top: 319px;
  background: #1ed760;
  border-radius: 42px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.remember {
  text-align: center;
}

.remember input {
  width: 204px;
  height: 38px;
  left: 474px;
  top: 525px;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 42px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.acc_green {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1ed760;
}
.button_register {
  width: 204px;
  height: 38px;
  left: 474px;
  top: 525px;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 42px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 120px;
}

/*------------------------Estilo del texto placeholder de los botones------------------------*/
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(31, 32, 65, 0.25);
  text-align: justify;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(31, 32, 65, 0.25);
  opacity: 1 /* Opacity debido a que Mozilla la reduce por defecto*/;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(31, 32, 65, 0.25);
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

/*------------------------Esto es a causa del recuadro azul que aparece al hacer focus en un boton------------------------*/
input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------FINALIZA ESTILO DE PÁGINA LOGIN.HTML---------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------Estilo del Header Register------------------------*/
.main_register_header {
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.main_register_header,
h1 {
  font-family: "Righteous", cursive;
  color: black;
  margin-left: 15px;
}

.matea_register_logo {
  width: 37px;
  height: 33px;
  left: 495px;
  top: 25px;
}

/*------------------------Fin Del Estilo del Header Register------------------------*/

/*------------------------Estilo Home Register------------------------*/
.p_register {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.form_register .main_form_register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.main_inputs_register {
  width: 527px;
  height: 57px;
  left: 313px;
  top: 170px;
  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 33px;
  font-family: "Montserrat", sans-serif;
  margin: 10px auto;
  max-width: 90vw;
}

.label_born {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.25);
  text-align: center;
  margin: 10px auto;
}

.nacimiento_register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dia_register {
  width: 90px;
  height: 56.43px;
  left: 316px;
  top: 490px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 50px;
}

.mes_register {
  width: 211px;
  height: 56.43px;
  left: 431px;
  top: 490.44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 50px;
}

.año_register {
  width: 173px;
  height: 56.43px;
  left: 666px;
  top: 490.44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 50px;
}

.radio_register_p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-register {
  background: #1ed760;
  border-radius: 42px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.register_btn {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register_rfooter {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerform_container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 88px;
  align-items: center;
}
.footerform_container p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 0px 5px;
}

.Spotify_logo {
  height: 40px;
}

.pwred_spoti {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.footerform_register {
  border-top: 1px solid rgba(101, 101, 101, 0.33);
}

/*------------------------Fin Del Estilo Home Register------------------------*/

/* Search Playlist */

.goto_user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.playlist_user {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.playlist_user:hover {
  text-decoration: none;
  color: #1ed760;
}

.form_searchpl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 713px;
  height: 43px;
  left: 65px;
  top: 125px;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 33px;
}

.form_searchpl::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  text-indent: 25px;
}

.searchbar_div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/*------------------------Fin Del Estilo Pag Searchplaylist.html------------------------*/

/*------------------------Estilo Pag Home.html------------------------*/

.background_homea {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  filter: brightness(30%);
}

.mainheader_home {
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
  height: 83px;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(101, 101, 101, 0.33);
}

.divheader_home {
  background: black;
  align-items: center;
}

.mateify_headerhome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.h2_mateifyhome {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  align-items: center;
  display: flex;
}

.h2_mateifyhome:hover{
  text-decoration: none;
  color: #1ed760;
}

.mateifyhome_logo {
  width: 37px;
  height: 33px;
  align-items: center;
  display: flex;
}

.goto_home {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.phome_register {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  align-items: center;
  display: flex;
}

.phome_login {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  justify-content: flex-end;
  align-items: center;
  margin-left: 50px;
  display: flex;
}

.phome_register:hover {
  text-decoration: none;
  color: #1ed760;
}

.phome_login:hover {
  text-decoration: none;
  color: #1ed760;
}

/* FINALIZA ESTILO HEADER HOME.HTML */

.section{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.let_ply_music{
    color: white;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   margin-top: 10rem;
}
.section_search {
   width: 738px;
   height: 57px;
   left: 206px;
   top: 292px;
   background: #FFFFFF;
   border: 1px solid rgba(31, 32, 65, 0.25);
   box-sizing: border-box;
   border-radius: 33px;
   border: auto;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 24px;
}
.row{
   display: flex;
   justify-content: center;
}
.type_search{
   width: 348px;
   height: 57px;
   left: 401px;
   top: 403px;
   background: #1ED760;
   border-radius: 42px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 27px;
   text-transform: uppercase;
   border: none;
   color: #FFFFFF;
   margin: 3.5rem 0;
}

/*------------------------Estilo Footer pag Home.html------------------------*/

.footerhome_container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 88px;
  align-items: center;
}
.footerhome_container p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 0px 5px;
  color: white;
}

.Spotify_logohome {
  height: 40px;
}

.pwred_spotihome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.footerhome_main {
  border-top: 1px solid rgba(101, 101, 101, 0.33);
  background-color: black;
  justify-content: space-between;
  margin: 0 0;
}

/*------------------------Estilo Footer pag new playlist.html------------------------*/
.input_newplayl {
  height: 37px;
  width: 418px;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 33px;
}
.input_newplayl::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-indent: 40px;
  color: rgba(31, 32, 65, 0.25);
}

.text_searchpag {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
}

.hr_search {
  border: 1px solid rgba(255, 255, 255, 0.85);
}

.maintext_search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_table{
  margin-top: 12%;
}

.table {
  background-color: black;
  overflow-y: scroll;
}

thead,
tr,
td {
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
}

.grey_color {
  background: #282828;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: none;
}

/*------------------------Estilo pag edit playlist.html------------------------*/
.mainP_editplaylist {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}
.text_overtable {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

/*------------------------Estilo pag search playlist.html------------------------*/
.cards_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.card-body {
  background: black;
}

.card-text-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.card-text-span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.48;
}

.card-img-top:hover{
  border-radius: 50%;
    transition: all 0.5s;
}

.create_playlist {
  background: #1ed760;
  border-radius: 42px;
  width: 213px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.maininput_a {
  display: flex;
  align-items: center;
}



.show_more{
  color: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.showmore_text{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #FFFFFF;
mix-blend-mode: normal;
margin:  5px 15px;
text-align: center;
}